__pycache__/*
prmtop.pdf
1
PDB_Format_v33_A4.pdf
git_token
pdbformat.pdf
pliki_do_testow/
starsze/
test_energie.ods
test_timings.ods

.venv
.github/
.pytest_cache/
tests/
prm2Gaussian.egg-info/
example/
*.pdb
*.xyz